In [33]:
import pandas as pd

top100 = pd.read_csv("../HP/12weekTop100.csv")
clients = pd.read_csv("../HP/clientsTotal.csv")

### Rate: % of total Sale

In [34]:
df = pd.merge(top100, clients, on="cod_cliente", how="left")
df["rate"] = df["Total_x"] / df["Total_y"] * 100
df = df.loc[:, ["cod_cliente", "cod_item", "rate"]]
df.head()

import numpy as np

dfStats = df.groupby("cod_item").agg({"rate": [np.size, np.mean]})

### At least 200 clients have bought the item

In [35]:
mostPopular = dfStats["rate"]["size"] >= 100
dfStats[mostPopular].sort_values([("rate", "mean") ], ascending=False)[:15]

             rate
             size       mean
cod_item
11740      1018.0  12.684499
15003       356.0  12.576434
18297       193.0  11.847614
13163       288.0   9.234162
17116       113.0   9.045987
16940       142.0   8.557299
HPP000464   475.0   8.506682
16699       222.0   8.455189
11029       104.0   7.864264
22520       136.0   7.596241
14012       302.0   7.478286
15757       229.0   7.325320
11744       520.0   7.315537
12482       251.0   7.311819
12498       115.0   7.245206

In [36]:
# Ratings

itemsRating = df.pivot_table(index=['cod_cliente'],columns=['cod_item'],values='rate')
itemsRating.head()

cod_item,10068,10070,10335,10337,10449,10490,10759,11004,11029,11032,...,46103,46227,46827,46860,49491,49877,HPP000463,HPP000464,HPP000505,HPP000507
cod_cliente,,,,,,,,,,,,,,,,,,,,,
HPC000019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HPC000031,NaN,NaN,1.192386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.158616,0.345913,0.41971,NaN,NaN,6.349108,NaN,NaN
HPC000032,1.553482,NaN,NaN,NaN,NaN,NaN,1.401396,1.279676,NaN,NaN,...,1.830628,NaN,0.687541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HPC000034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.899858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.650954,NaN
HPC000037,1.098000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Each sku correlated with others skus

In [37]:
similarSkus = itemsRating.corrwith(itemsRating["11740"])
similarSkus = similarSkus.dropna()
newDf = pd.DataFrame(similarSkus)
newDf.head(10)

                 0
cod_item
10068     0.151032
10070     0.222523
10335     0.233506
10337     0.277228
10449     0.001286
10490     0.031558
10759     0.405251
11004     0.113586
11029     0.162541
11032     0.097845

In [38]:
itemsRating[["11740", "17175"]]

cod_item         11740      17175
cod_cliente
HPC000019          NaN        NaN
HPC000031          NaN        NaN
HPC000032          NaN        NaN
HPC000034          NaN        NaN
HPC000037          NaN        NaN
HPC000053          NaN        NaN
HPC000055     2.084552        NaN
HPC000057          NaN        NaN
HPC000059          NaN  28.848426
HPC000060     0.761538  11.294037
HPC000065          NaN        NaN
HPC000067          NaN        NaN
HPC000073          NaN        NaN
HPC000075          NaN        NaN
HPC000078          NaN        NaN
HPC000079    55.764027        NaN
HPC000080          NaN        NaN
HPC000084          NaN        NaN
HPC000086          NaN        NaN
HPC000091          NaN        NaN
HPC000092          NaN   8.256073
HPC000093          NaN   0.937989
HPC000097          NaN        NaN
HPC000099          NaN        NaN
HPC000101          NaN        NaN
HPC000108          NaN        NaN
HPC000111          NaN   0.238168
HPC000113          NaN        NaN
HPC000115     3.414233        NaN
HPC000116     2.894943        NaN
...                ...        ...
HPM000071          NaN        NaN
HPM000072          NaN        NaN
HPM000077          NaN        NaN
HPM000083          NaN        NaN
HPM000085          NaN        NaN
HPM000086          NaN        NaN
HPM000088          NaN        NaN
HPM000096          NaN        NaN
HPM000097          NaN        NaN
HPM000112          NaN        NaN
HPM000125          NaN        NaN
HPM000131     1.476130        NaN
HPM000134          NaN        NaN
HPM000139          NaN        NaN
HPM000140          NaN        NaN
HPM000141          NaN        NaN
HPM000142          NaN        NaN
HPM000143          NaN        NaN
HPM000144          NaN   3.916785
HPM000145          NaN        NaN
HPM000146          NaN   0.288145
HPM000147          NaN   3.086221
HPM000148          NaN        NaN
HPM000150          NaN        NaN
HPM000151          NaN   6.344648
HPM000152          NaN   5.598045
HPM000153          NaN        NaN
HPM000154          NaN        NaN
HPM000155          NaN        NaN
hpc003235          NaN        NaN

[4424 rows x 2 columns]

### Example of correlation between products

In [39]:
import numpy as np
items1 = itemsRating["11740"]
items2 = itemsRating["17175"]
merge = pd.concat([items1, items2], axis=1)
merge = merge.dropna(axis=0)
test1= merge.loc[:, ["11740"]].values
test2 = merge.loc[:, ["17175"]].values
np.corrcoef( test1.ravel(), test2.ravel())

array([[1.        , 0.54043473],
       [0.54043473, 1.        ]])

In [40]:
df = dfStats[mostPopular].join(pd.DataFrame(similarSkus,  columns=['similarity']))

c:\users\rcastro\appdata\local\programs\python\python37\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [41]:
df.head()

          (rate, size)  (rate, mean)  similarity
cod_item
10068            376.0      4.245472    0.151032
10070            352.0      6.275543    0.222523
10335            251.0      2.647575    0.233506
10337            211.0      3.059925    0.277228
10449            220.0      7.213419    0.001286

In [42]:
df.sort_values(['similarity'], ascending=False)[:15]

          (rate, size)  (rate, mean)  similarity
cod_item
11740           1018.0     12.684499    1.000000
25057            579.0      6.563745    0.546584
17175            306.0      3.395960    0.540435
18297            193.0     11.847614    0.501900
11744            520.0      7.315537    0.482485
20570            926.0      3.119154    0.457729
45019            265.0      4.411605    0.442075
16683            385.0      3.984358    0.440448
16506            811.0      1.088911    0.434757
29975            124.0      3.464483    0.432897
49491            232.0      3.036618    0.408615
10759            600.0      2.777221    0.405251
19786            649.0      3.674590    0.369927
17938            386.0      7.219881    0.356271
14863            483.0      1.591831    0.353836

### Second iteration

In [43]:
# same principle
corrMatrix = itemsRating.corr(method='pearson', min_periods=100)
## print(corrMatrix.loc["11740", ["17175"] ])
corrMatrix.head()

cod_item,10068,10070,10335,10337,10449,10490,10759,11004,11029,11032,...,46103,46227,46827,46860,49491,49877,HPP000463,HPP000464,HPP000505,HPP000507
cod_item,,,,,,,,,,,,,,,,,,,,,
10068,1.000000,0.739828,NaN,NaN,NaN,NaN,0.540954,0.364543,NaN,NaN,...,0.245173,NaN,NaN,0.26141,NaN,NaN,NaN,0.38392,NaN,NaN
10070,0.739828,1.000000,NaN,NaN,NaN,NaN,0.451140,0.412458,NaN,NaN,...,0.262376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10335,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.533778,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10337,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10449,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
clientRatings = itemsRating.loc["HPC000111"].dropna()
clientRatings

cod_item
10068        1.139001
10070        1.481353
10335        0.544968
10449        0.249780
10490        0.365216
11004        1.344022
11029        3.396727
11202        0.914365
11744        4.977782
12482        1.846627
13441        0.432703
14012        1.079168
14863        0.635134
15342        2.394398
15345        5.495356
16441        1.425555
16506        0.106124
16507        0.222075
16511        0.089206
16512        0.214091
16513        0.231921
16701        0.299631
16938        2.497874
16940        1.299176
17175        0.238168
18300        0.158779
18647        1.498523
19968        4.525620
25057        0.615529
HPP000464    2.118728
HPP000505    0.259839
Name: HPC000111, dtype: float64

In [45]:
simCandidates = pd.Series()
# Iterate over the skus that client bought
for i in range(0, len(clientRatings.index)):
    # print ("Adding sims for " + clientRatings.index[i] + "...")
    # Similar skus
    sims = corrMatrix[clientRatings.index[i]].dropna()
    # Scaled to the "rating"
    sims = sims.map(lambda x: x * clientRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

sorting...
11744    4.977782
14579    3.453378
11029    3.396727
25057    3.321145
10759    2.781728
16938    2.497874
11740    2.401706
19679    2.346190
19786    2.331081
19031    2.162137
dtype: float64

In [46]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

11004    11.448728
16506    10.336094
15679     9.999016
16507     9.867879
14578     9.242170
16701     8.996071
10759     8.674469
20570     8.664898
14579     8.488474
19679     7.887371
dtype: float64

###### Similar SKUS of Client HPC000111 that have bought

In [47]:
filteredSims = simCandidates[~simCandidates.index.isin(clientRatings.index)]
filteredSims.head(20)

15679      9.999016
14578      9.242170
10759      8.674469
20570      8.664898
14579      8.488474
19679      7.887371
11204      7.869480
15412      7.449511
20180      7.031864
19031      6.561763
46103      6.239247
3M-0114    5.784210
11740      5.468806
19786      5.446902
19993      5.069371
3M-0115    4.901037
11973      4.615033
46860      4.593218
46827      3.580778
22348      2.757672
dtype: float64